{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container logout">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 test">
            <h3>{% trans "Thanks for your visit" %}</h3>
            <hr>
            <p>{% trans 'Are you sure you want to <u>logout?</u>' %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary right" type="submit">&laquo {% trans 'Logout' %} &raquo</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
