body {
  background-color: #fefefe;
 
}



footer {
  background-color: pink;
}

.navbar {
  background-color: red;
}

/*-------------------------------------------------------------intro----------------------------------------*/
.container.about {
  background-color: blue;
}




/*-------------------------------------------------------------cards----------------------------------------*/

/*.card-container {
  display: flex; 
  flex-wrap: wrap; 
}
*/

.card-img-top {
  max-height: 225px;
}

.card-body {
  max-height: 800px;
}

.card {
  max-width: 300px;
  min-height: 800px;
 /* max-height: 900px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 2px 2px 5px #ccc;
}



/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.588);
}

.btn {
  display: flex;
  justify-content: center;
  width: 100%;
  display: inline-block;
}

.btn-primary {
  color: white;
  background-color: rgb(0, 0, 187);
  margin: 5px auto;
}

.btn-primary:hover {
  background-color: blue;
  color: black;
}

.btn-secondary {
  color: white;
  background-color: rgb(8, 149, 8);
}

.btn-secondary:hover {
  color: black;
  background-color: rgb(65, 233, 53);
}

.btn-bottom {
  background-color: yellow;
}


/*-------------------------------------------------------------post detail page----------------------------------------*/

#movie-description {
  background-color: lightblue;
}

#details {
  background-color: rgb(28, 202, 16);

}

#reviews {
  background-color: yellow;
}