{% extends 'base.html' %}

{% block content %}
<div class="container director">
    <div class="row">
        <div class="col-12">
            <h2>Directors for genre: {{ genre.genre_name }}</h2>
            <hr>
            <p>Can't find the director you were looking for?</p>

            {% if user.is_authenticated %}
            <p>Submit a request through our <a href="{% url 'director_request_form' %}">form!</a> </p>
            {% else %}
                <p>
                    To request a director just <br><a href="{% url 'account_login' %}">Login</a>
                </p>
            {% endif %}
        </div>
    </div>
</div>

{% for director in directors %}
<div class="container director-detail">
            <div class="row single-director">
                <div class="col-4">
                    {% if "placeholder" in director.featured_image.url %}
                    <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="default image replacing missing director pictures" width="100%">
                    {% else %}
                    <img src=" {{ director.featured_image.url }}" alt="picture of director" width="100%">
                    {% endif %}
                </div>
                <div class="col-8">
                    <h2>{{ director.director_name}}</h2>
                    <hr>
                    <p class="director-bio">{{ director.bio }}</p>
                </div>
            </div>
      </div>
{% endfor %}


{% endblock%}