{% extends 'base.html' %}

{% block content %}
<h2>Directors of {{ genre.genre_name }} genre</h2>
<p></p>
<p>Can't find the director you were looking for? <br> Submit a request through our <a href="{% url 'director_request_form' %}">form!</a> </p>
<ul>
    {% for director in directors %}
    <li>
        <h2>{{ director.director_name}}</h2>
        <p>{{ director.bio }}</p>
        
        
        <div class="d-none d-md-block col-md-4 masthead-image">
            {% if "placeholder" in director.featured_image.url %}
            <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
            {% else %}
            <img src=" {{ director.featured_image.url }}" width="100%">
            {% endif %}
        </div>
        
    </li>
    {% endfor %}
</ul>
{% endblock%}