{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}


<div class="container">
    <div class="row">
        <div class="edit">
            <h2> Edit your review for: <br> {{ post.title }} </h2>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save Changes">
    </form>
        </div>
    </div>
</div>
<!-- <div class="edit" >
    <h2> Edit your review for: <br> {{ post.title }} </h2>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save Changes">
    </form>
</div> -->


{% endblock content %}