{% extends "base.html" %}

{% block content %}

<body>
  <img src="https://res.cloudinary.com/dabrhdlgw/image/upload/v1676384192/project4/heroimg_frb6hk.jpg"
    alt="hero image of Movie Critique website featuring pop art drawing of popcorn, film roll, movie ticket and director clapper stick"
    class="hero">
  <div class="container about">
    <h1>MovieCritique</h1>
    <hr>
    <p class="text-center">Welcome to Movie Critique, the ultimate destination for movie lovers everywhere!<br>Our
      website is designed to help you make informed decisions about what to watch, with a comprehensive search feature
      and user-generated reviews at your fingertips.<br>Whether you're in the mood for a heart-wrenching drama or a
      gut-busting comedy, we've got you covered.</p>

    <p class="text-center mt-5">Our community of discerning film enthusiasts have carefully curated an extensive
      collection of movie reviews to
      help guide your viewing choices.<br> No more aimlessly scrolling through streaming platforms, wondering what to
      watch.
      With Movie Critique, you'll be able to effortlessly uncover the perfect film for any mood.</p>

    <p class="text-center mt-5">Join the conversation with other passionate cinephiles and leave your own reviews to
      help guide others in their
      movie-watching journey.<br> Say goodbye to the days of wandering in the streaming wilderness, and hello to a world
      of
      cinematic delight with Movie Critique.</p>
  </div>
  <div class="container">
    <div class="row mt-5">

      {% for post in post_list %}
      <div class="col-md-3">
        <div class="card-container">
          <div class="card">
            <img src="{{ post.image }}" class="card-img-top" alt="{{ post.name }}">
            <div class="card-body">
              <div class="image-container">
                {% if "placeholder" in post.featured_image.url %}
                <img class="card-img-top" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="default image replacing missing movie post pictures">
                {% else %}
                <img class="card-img-top" src="{{ post.featured_image.url }}" alt="picture of movie post">
                {% endif %}
                <div class="image-flash">
                  <hr>
                  <h5 class="card-title">{{ post.title }}</h5>
                  <hr>
                  <p class="card-text">{{ post.excerpt }}</p>
                  <p class="author">Posted by: <br> {{ post.author }}</p>
                </div>
              </div>
            </div>
            <div class="btn-bottom">
              <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">View Reviews</a>
              <a href="{% url 'moviegenre_list' %}" class="btn btn-secondary">Directors&Genre</a>
              <hr />
              <p class="card-text text-muted h6">{{ post.created_on}} <i class="fa-regular fa-heart"></i>
                {{ post.number_of_likes }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>

{%endblock%}