{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row mb-3" id="details">

            <div class="col-12 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <hr>
            <div class="col-md-4 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" class="post-img"
                    width="100%">
                {% else %}
                <img src=" {{ post.featured_image.url }}" class="post-img" width="100%">
                {% endif %}
            </div>
            <div class="col-md-8 top">
                <div class="card-body" id="movie-description">
                    <p class="card-text">
                        {{ post.content | safe }}
                    </p>

                    <div class="row" id="liked-counted">
                        <div class="col-1">
                            <strong>
                                {% if user.is_authenticated %}
                                <form method="POST" class="d-inline" action="{% url 'post_like' post.slug %}">
                                    {% csrf_token %}
                                    {% if liked %}
                                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                            class="fas fa-heart red"></i></button>
                                    {% else %}
                                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                            class="far fa-heart"></i></button>
                                    {% endif %}
                                </form>
                                {% else %}
                                <span class="text-secondary"><i class="far fa-heart"></i></span>
                                {% endif %}
                                <span class="text-secondary">{{ post.number_of_likes }} </span>
                            </strong>
                        </div>
                        <div class="col-1">
                            {% with reviews.count as total_reviews %}
                            <strong class="text-secondary"><i class="fa-regular fa-comment"></i>
                                {{ total_reviews }}</strong>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-6 mb-4 mt-3" id="reviews">
                <h3>Reviews:</h3>
                <hr>
                <div>
                    {% for review in reviews %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            {{ review.name }}
                            review id: {{ review.id }}
                            current user: {{ user.id }}
                            review author : {{ review.author}}
                            <span class=" text-muted font-weight-normal">
                                {{ review.created_on }}
                            </span> wrote:
                        </p>
                        <hr>
                        <div>
                            {{ review.body | linebreaks }}

                            {% if user.is_authenticated %}

                            {% if review.author == user %}

                            <button type="submit" class="update">
                                <a href="{% url 'edit_review' review.id %}">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                            </button>


                            <button type="submit" class="delete">
                                <a href="{% url 'delete_review' review.id %}"
                                    onclick="return confirm('Are you sure you want to delete this review?');">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>
                            </button>


                            {% endif %}

                            {% endif %}



                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-6 mb-4 mt-3" id="comment-form">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your review is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3>Leave a review:</h3>
                <p>Posting as: {{ user.username }}</p>
                <hr>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% else %}
                <div class="must-login">
                    <h4>To leave a review you must <br> <a href="{% url 'account_login' %}">login</a>
                    </h4>
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}